<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1.0">
    <title>みかすずポータル | <%= title %></title>
    <link rel="stylesheet" href="css/destyle.min.css">
    <link rel="stylesheet" href="css/layout.css">
</head>
<body>