<%- include('common/_header',{
    title : 'TOP'
}); %>
<div id="main">
    <div id="mainImage">
        <div id="imageArea"></div>
        <div id="wordArea">
            <div id="titleWord">
                Mikasuzu Portal Website
            </div>
            <div id="subWord">
                All contents are original. Powered by Suzuka Mikami.
            </div>
        </div>
    </div>
</div>
<%- include('common/_footer'); %>