/*配色設定*/
$base-color:#CAE4DB;
$base-color2:#F5F4F4;
$main-color:#CDAC81;
$accent-color:#00303F;

/*配色*/
section{
    &#mainActivities{
        background-color: $base-color;
        h2{
            color: $accent-color;
        }
        .flexItem{
            a{
                color: $accent-color;
            }
            a:hover{
                color: $main-color;
            }
        }
    }
    &#subActivities{
        background-color: $base-color2;
        h2{
            color: $accent-color;
        }
        .flexItem{
            a{
                color: $accent-color;
            }
            a:hover{
                color: $main-color;
            }
        }
    }
    &#profile{
        background-color: $accent-color;
        color: $main-color;
    }
}

/*セクションごとの*/

/*セクションレイアウト*/
section{
    width: 100vw;
    min-height: 100vh;
}

/*見出し*/
h2{
    text-align: center;
    font-size: 2rem;
}

/*メインイメージ*/
section{
    &#mainImage{
        width: 100vw;
        height: 100vh;
        background-color: $base-color2;/*仮*/
        position: relative;
    }
    #mainImageArea{
        width: 100vw;
        height: 100vh;
        position:absolute;
        top:0;
        left: 0;
        background-color:lightpink;/*仮*/
    }
    #mainTextArea{
        position:absolute;
        width: 80%;
        top:50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        background-color: lightskyblue;/*仮*/
    }
}

/*メイン活動*/
section{
    &#mainActivities, &#subActivities{
        .contentContainer{
            width: 90%;
            margin: 0 auto;
            box-shadow: 5px 5px 5px rgba(0,0,0,0.5), 1px 1px 5px rgba(0, 0, 0, 0.3) inset;
            h3{
                padding:5px 0 5px 5px;
                background-color: $accent-color;
                color: $base-color;
                font-size: 1.3em;
            }
            margin-top: 30px;
            margin-bottom: 50px;
        }
        /*flexbox*/
        .flexContainer{
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
        }
        .flexItem{
            margin-left: 10px;
            margin-right: 20px;
        }
    }
}